{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="{% static 'workouts/css/style.css' %}">
</head>
<body>
    
    <div class="card">
        <h1>Мой Workout Tracker</h1>

        {% if workouts %}
        <ul>
            {% for workout in workouts %}
            <li>
                <strong>{{ workout.title }}</strong> - {{ workout.date }}
                {% if workout.notes %}
                    <br><small style="color: #666;">Заметка: {{workout.notes}}</small>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Тренировок пока не добавлено</p>
        {% endif %}
    </div>


</body>
</html>